<% if current_user %>
	
		<h2> My Bookings </h2>
		<% @bookings.each do |booking| %>
  			<% if booking.user != nil %>
  			<p>Restaurant: <%=booking.restaurant.name%></p>
       			<p> Booking for: <%= booking.user.name %></p>
  				<p> Email: <%= booking.user.email %></p>
				<div class = "subject"> Date:</div> <%= booking.date %> 
			    <div class = "subject"> Time:</div> <%= booking.time %> 
			    <div class = "subject"> Size:</div>  <%= booking.size %>
			    <%= link_to "Delete", booking, :method => :delete %>
    		<%end%>
  



    	<%end%>
    		<%end%>


