<% if current_user %>
	<%if @booking.restaurant != nil%>
		<h2> My Bookings </h2>
		<% @bookings.user.each do |booking| %>
  			<% if @booking.user != nil %>
       			<p> Booking for: <%= booking.user.name %></p>
  				<p> Email: <%= booking.user.email %></p>
				<div class = "subject"> Date:</div> <%= booking.user.date %> 
			    <div class = "subject"> Time:</div> <%= booking.user.start_time %> 
			    <div class = "subject"> Size:</div>  <%= booking.user.party_size %>
    		<%end%>
    	<%end%>
    <%end%>

    <% else %>
		<h2> My Bookings </h2>
		<% @bookings.user.each do |booking| %> %>
       		<p> Booking for: <%= booking.name %></p>
  			<p> Email: <%= booking.email %></p>
			<div class = "subject"> Date:</div> <%=booking.date %> 
			<div class = "subject"> Time:</div> <%= booking.start_time %> 
			<div class = "subject"> Size:</div>  <%= booking.party_size %>
    	<%end%>
    <%end%>

<%end%>


