<h1> Profile </h1>


<div class="profile">
    <%if current_user%>

        
            <h2> <%= @restaurant.name %> </h2><br>
            <div class ="profile_info">
            <div class = "subject"> Name:</div>  <%= @restaurant.name %> <br>
            <div class = "subject"> Category:</div>  <%= @restaurant.category.name %> <br>
            <div class = "subject"> Email:</div>  <%= @restaurant.email %> <br>
            <div class = "subject"> Location:</div>  <%= @restaurant.address %> <br>
            <div class = "subject"> Size:</div>  <%= @restaurant.capacity %> <br>
            <%= link_to "Book", new_restaurant_booking_path(@restaurant) %> 
            <div class ="profile_img">
             <div class = "subject"> Image: </div> <img src= "<%= @restaurant.avatar %>"> 
             </div>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}" %>

            <div class = "subject"> Book:</div>  <%= @restaurant.capacity %> <br>

        
    
    <% else current_restaurant%>
    
            <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
            <div class ="profile_info"> 
            
                <div class = "subject"> Email:</div>  <%= current_restaurant.email %> <br>
                <div class = "subject"> Location:</div>  <%= current_restaurant.address %> <br>
                <div class = "subject"> Size:</div>  <%= current_restaurant.capacity %> <br>
            </div>


           	<div class ="profile_img">
                <div class = "subject"> Image: </div> <img src= "<%= current_restaurant.avatar %>"> 
           	</div>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@current_restaurant.latitude}%2C#{@current_restaurant.longitude}" %>

<%end%>
</div>