<!DOCTYPE html>
<html>
<head>
  <title>SeatyourselfApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="headwrapper">

<img class ="logo" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10418278_10152619923250342_3040869094789336455_n.jpg?oh=8bd0d3b1f2cac903a8d1821152be031e&oe=5489A2EB&__gda__=1420014845_6574f7936320a8f513e436487eaa600e">

<div class="title">
Seat Yo' Self
</div>
        <div class="userinfo">


            <% if current_user %>
                Signed in as <%= current_user.email %>. | <%= link_to "Profile", current_user %> | <%= link_to "My Bookings", user_bookings_path(current_user) %>  | <%= link_to "Log out", session_path('current'), :method => :delete %>
            
            <% elsif current_restaurant %>
            Signed in as <%= current_restaurant.email %>. | <%= link_to "Profile", current_restaurant %> | <%= link_to "My Bookings", restaurant_bookings_path(current_restaurant) %>  | <%= link_to "Log out", session_path('current'), :method => :delete %>
            <% else %>
                <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", signup_path %>
            <% end %>
        </div>
            
            <div class ="nav">
                <%= link_to "HOME", "/" %>   <%= link_to "RESTAURANTS", categories_path %> 
            </div>
   
        <%= form_tag restaurants_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Nearby", :name => nil %>
  </p>
<% end %>

  <%= form_tag users_path, :method => :get do %>
  <p>
    <%= submit_tag "Or by current location", :name => nil %>
  </p>
<% end %>
    </div>







<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<%= yield %>

</body>
</html>
